.master{
    display: flex;
    position: relative;
    background-color: #fff;
    z-index: 200;
    align-items: flex-end;
}
.go-back{
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-family: 'roboto';
}
.anat{
    height: 85vh;
}
.final-word{
    font-family: 'roboto';
}
.user-n{
    color: red;
}
.clicked{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    background-color:#1e90ff;
    padding: 10px 30px;
    border-radius: 5px;
}
input,button{
    background: none;
    border: none;
    appearance: none;
    outline: none;
}
.anat{
    height: 100hv;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color:var(--color-bg)
}
form{
    display: block;
    position: relative;
    

}
form::after{
    content: '';
    display: block;
  position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, red,yellow);
}
form .inner-form{
display: block;
position: relative;
background-color: #fff;
z-index: 6;
padding: 30px;

}
form .inner-form h1{
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 500;
    
}
form .inner-form .fonm-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
}
.inner-form .form-group label{
    display: flex;
    color:#666;
    transition: 0.4s;
    font-size: 19px;
    margin-bottom: 5px;
   

}
.inner-form .form-group:focus-within label{
color: red;
}
form .inner-form .form-group input{
    padding: 10px,15px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 8px;
    transition: 0.4s;
    border-color: #666;
font-size: 20px;
margin-right:50px ;
}
form .inner-form .form-group:focus{
    box-shadow: 0,0,3px rgba(0, 0, 0, 0.2);
    
}
form .inner-form input[type="submit"]{
display: inline-block;
padding-top: 10px;
border-radius: 8px;
color:#0f0f0f;
background-image: linear-gradient(to right green 50%,blue 50%);
transition: 0.4s;
cursor: pointer;
font-weight: 700;

}
form .inner-form input[type="submit"]:hover{
    background-position: 100% 0%;
}
@media screen and (max-width: 830px) {
    form .inner-form{
        padding: 20px;
    }
}